---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
import "@fontsource-variable/rubik";

interface Props {
    title: string;
    description?: string;
    ogImage?: string;
}

const { title, description, ogImage } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content={description ? description : "The most handsome fella on Twitch"}
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index, follow" />
        <meta
            name="keywords"
            content="
            Hansumfella,
            handsome,
            fella,
            merch,
            merchandise,
            shirt,
            socks,
            hoodie,
            flag,
            website,
            twitch,
            content,
            creator,
            hansum,
            dickey,
            youtube,
            youtuber,
            streamer,
            socks,
            hansumfellalive,
            tiktok,
            handsome
            guy,
            hansum
            guy"
        />

        <!-- open graph -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta
            property="og:description"
            content={description || "The most handsome fella on Twitch"}
        />
        <meta property="og:image" content={ogImage || "/og-image.png"} />
        <meta property="og:url" content={Astro.url} />

        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@hansumfella" />
        <meta name="twitter:creator" content="@hansumfella" />
        <meta name="twitter:title" content={title} />
        <meta
            name="twitter:description"
            content={description || "The most handsome fella on Twitch"}
        />
        <meta name="twitter:image" content={ogImage || "/og-image.png"} />

        <title>{title}</title>
    </head>
    <body class="m-0 flex min-h-screen flex-col p-0 font-sans">
        <Navbar />
        <main class="flex-grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
